.about_main {
    display: flex;
    width: 100%;
    min-height: 100vh;
    justify-content: center;
    align-items: center;
    background-color: #fafafa
}

.profile_pic {
    display: flex;
    min-height: 100vh;
    width: 50%;
    margin-left: 0vw;
    padding-left: 4vw;
    flex-direction: column;
    justify-content: center;
}

.me_picture {
    display: block;
    text-align: right;
    padding-right: 10vw;
    padding-top: 5vh;
}

.profile_paragraph {
    display: flex;
    width: 50%;
    min-height: 100vh;
    margin-right: 0vh;
    padding-right: 10vw;
    flex-direction: column;
    justify-content: center;
}

.social_box {
    display: flex;
    padding-top: 2vh;
    padding-right: 10vw;
    margin-bottom: -10vh;
    justify-content: flex-end;
    align-items: center;
}

.contact_me_box {
    margin-top: 2vh;
}

.paragraph {
    padding-top: 2vh;
    padding-right: 8vw;
    font-family: Lato, sans-serif;
    font-size: 1.8vh;
    line-height: 22px;
}
/* em or media queries to target larger monitor for font size*/

.heading {
    font-family: Georgia, 'Times New Roman', Times, serif;
    color: #4a4a4a;
    font-size: 3vh;
}

.link {
    font-family: sans-serif;
    font-size: 1.8vh;
}

.sns_2 {
    padding-right: 18px;
    padding-left: 18px;
}

p {
    color: #5d6970;
}

.interest {
    font-family: Georgia, 'Times New Roman', Times, serif;
    color: #4a4a4a;
    font-size: .8em;
}

.list {
    font-family: Lato, sans-serif;
    font-size: 1.8vh;
    line-height: 22px;
    color: #4a4a4a;
}

.project_bg {
    display: flex;
    width: 100%;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    background-color: #fafafa;

    
}

.project_left {
    display: flex;
    width: 50%;
    min-height: 50vh;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
}

.project_right {
    display: flex;
    width: 50%;
    min-height: 50vh;
    justify-content: center;
    align-items: center;
}


.project_title {
    margin-top: -4vh;
    font-family: lato, sans-serif;
    font-size: 1.4em;
    line-height: 4vh;
    font-weight: 400;
    text-align: center;
}

.project_heading {
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 10vh;
    line-height: 14vh;
    font-weight: 400;
    text-align: left;
}

.sub_heading {
    margin-top: -3vh;
    font-family: lato, sans-serif;
    color: #8b8b8b;
    font-size: 1.4em;
    font-weight: 400;
    text-align: left;
}

.project_para {
    padding-right: 15vw;
    font-size: 0.8em;
}

.button {
    margin-top: 18px;
    padding-right: 4vw;
    padding-left: 4vw;
    border: 1.5px solid #8b8b8b;
    border-radius: 4px;
    background-color: transparent;
    color: #8b8b8b;
    font-size: 1em;
    line-height: 1em;
}

.image-3 {
    padding-right: 4vw;
    padding-left: 8vw;
}

.micro_project {
    display: flex;
    width: 100%;
    min-height: 50vh;
    align-items: flex-start;
}

.footer {
    widows: 100%;
    min-height: 20vh;
    background-color: #fafafa;
}

.columns {
    padding-right: 10vw;
    padding-left: 10vw;
}

.project {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
}

.project_head {
    font-family: lato, sans-serif;
    color: #4a4a4a;
    font-size: 2em;
    line-height: 6vh;
    font-weight: 400;
}

.project_subhead {
    margin-top: -8px;
    font-family: lato, sans-serif;
    color: #8b8b8b;
    font-size: 1em;
    font-weight: 400;
}

.project_button {
    padding-right: 40px;
    padding-left: 40px;
    border-style: solid;
    border-width: 1.5px;
    border-color: #8b8b8b;
    border-radius: 4px;
    background-color: transparent;
    color: #8b8b8b;
    font-size: 1em;
    line-height: 1em;
}

.project_pic {
    padding-bottom: 20px;
    text-align: left;
}

.project_column {
    display: flex;
    margin-top: 30px;
    padding-right: 0vw;
    padding-left: 15vw;
    justify-content: flex-start;
    align-items: stretch;
}

.column {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
}

.column-2 {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
}

@media (max-width: 1080px) {
    .about_main {
        flex-direction: column;
    }
    
    .profile_pic {
        width: auto;
        min-height: auto;
        padding-left: 10vw;
    }

    .profile_paragraph {
        width: auto;
        min-height: auto;
        padding-right: 0vw;
        padding-left: 10vw;
    }

    .paragraph {
        color: #4a4a4a;
        font-size: 0.9em;
        line-height: 16px;
    }

    .heading {
        font-size: 26px;
    }

    .project_left {
        width: auto;
        min-height: auto;
        padding-left: 10vw;
    }

    .project_right {
        width: auto;
        min-height: auto;
        margin-top: 10vh;
    }

    .project_heading {
        margin-top: 60px;
        font-size: 6vh;
        line-height: 8vh;
    }

    .sub_heading {
        font-size: 1em;
    }

    .project_para {
        font-size: 0.9em;
    }

    .button {
        padding-right: 25vw;
        padding-left: 25vw;
    }

    .micro_project {
        flex-direction: column;
    }

    .image-4 {
        margin-top: 20px;
    }

    .project {
        margin-top: 8vh;
    }

    .project_column {
        flex-direction: column;
    }

    .column {
        margin-top: 8vh;
    }

    .column-2 {
        margin-top: 8vh;
    }
}